services:
  go-app:
    container_name: go-app
    image: golang:1.24
    working_dir: /app
    environment:
      GO111MODULE: "on"
      GOCACHE: "/app/.cache"
      GOMODCACHE: "/app/.cache-mod"
      GOPATH: "/go"
    volumes:
      - ./:/app
    command: tail -f /dev/null
    depends_on:
      - init-kafka
      - kafka
      - zookeeper
    networks:
      - kafka-partitioner-benchmark

  zookeeper:
    container_name: zookeeper
    hostname: zookeeper
    image: confluentinc/cp-zookeeper:7.6.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_SERVERS: zookeeper:2888:3888
    networks:
      - kafka-partitioner-benchmark

  kafka:
    container_name: kafka
    hostname: kafka
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - zookeeper
    restart: on-failure
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:19092,EXTERNAL://${DOCKER_HOST_IP:-127.0.0.1}:9092,DOCKER://host.docker.internal:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,DOCKER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG4J_LOGGERS: "kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO"
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_JMX_PORT: 9001
      KAFKA_JMX_HOSTNAME: ${DOCKER_HOST_IP:-127.0.0.1}
      KAFKA_AUTHORIZER_CLASS_NAME: kafka.security.authorizer.AclAuthorizer
      KAFKA_ALLOW_EVERYONE_IF_NO_ACL_FOUND: "true"
      CONNECT_KEY_CONVERTER_SCHEMA_REGISTRY_URL: ""
    networks:
      - kafka-partitioner-benchmark

  init-kafka:
    container_name: init-kafka
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - kafka
    entrypoint: [ "/bin/sh", "-c" ]
    command:
      - |
        sleep 5
        kafka-topics --create --topic create-10 --partitions 10 --replication-factor 1 --if-not-exists --bootstrap-server kafka:19092
        kafka-topics --create --topic create-100 --partitions 100 --replication-factor 1 --if-not-exists --bootstrap-server kafka:19092
    networks:
      - kafka-partitioner-benchmark

  redpanda:
    container_name: redpanda
    image: redpandadata/console:v2.6.0
    depends_on:
      - kafka
    restart: on-failure
    ports:
      - "8660:8080"
    environment:
      - KAFKA_BROKERS=kafka:29092
    networks:
      - kafka-partitioner-benchmark

networks:
  kafka-partitioner-benchmark:
    name: kafka-partitioner-benchmark
    driver: bridge
